.App{
  min-height: 100vh;
  background-image: linear-gradient(rgba(108,94,75,0.75),rgba(108,94,75,0.75)),url(background.jpeg);
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.App-title{
  text-align: center;
  margin-top: 70px;
  color: #FFFFF2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300px;
  font-size: 70px;
}


.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  height:24px;
}

.search-button{
  background: #B6AE5A;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400px;
  font-size:20px;
  border: none;
  padding: 10px 20px;
  color: #FFFFF2;
  transition: 0.8s;
  cursor:pointer;
  overflow:hidden;
  
}
button:hover{
  background:#888243 ;
  transition:0.8s
  
}


.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: 'Raleway', sans-serif;
  color: #FFFFF2;
}

.recipe:hover{
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  transition:0.5s;
}

img{
  border-radius: 50%;
  width: 250px;
  height: 300px;
  border-radius: 50%;
  clip-path: circle();
}

.footer {
  background-color: #888243;
  margin-top: 20px;
  display:block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300px;
  font-size:20px;
  color: #FFFFF2;
  text-align: center!important;
  height:50px;
  align-items: center;
  justify-content: center;
  padding-top:15px;
  
}

li {
  margin-bottom: 10px;
  font-size: 20px;
}
